p, h2 {
    color: #E9EBED;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    background-color: #fbfbfb;
    padding-top: 180px;
    padding-bottom: 0%;
}
