p, h2 {
    color: #E9EBED;
    font-family: 'Poppins', sans-serif;
}


a {
    text-decoration: none;
}

ul, li {
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    color: rgb(8, 7, 7);
}

body {
    margin: 0;
    background-color: #fbfbfb;
    padding-top: 180px;
    padding-bottom: 0%;
}
