

.dark-green-background {
    background-color:rgb(78, 90, 71);
}

.brown1-background {
    background-color:rgb(77, 68, 52); 
}

.grey-background {
    background-color: rgb(68, 68, 68);
}

.green1-background {
    background-color: rgb(112, 125, 112);
}

.cream-background p {
    
    color:rgb(51, 58, 47);
    font-size: 19px;
}

.cream-background {
    background-color: rgb(230, 234, 225);
    
}

