.top-header {
    display: flex;
    flex-direction: row;
    height: 140px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: linear-gradient(90deg, rgba(111,124,110,1) 12%,
     rgba(83,94,75,1) 49%, rgba(112,125,112,1) 96%);
    justify-content: space-between;
   
}

.left-section {   
    padding-top: 1em; 
    margin-left: 100px;
}

.name-intro {
    font-size: 26px;
    white-space: nowrap;
    margin-bottom: 1px;
}

.desc-intro {
    color: #b8c1a8;
    margin-top: 0px;
    font-size: 14px;
    margin-left: 50px;
}

.middle-section {
    display: flex;
    align-items: center;
    width: 700px;
    justify-content: space-between;
}

.right-section {
    display: flex;
    align-items: center;
    width: 500px;
    margin-right: 70px;
    margin-left: 70px;
}

.top-right-info {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    white-space: nowrap;
    border-style: solid;
    border-top: none;
    border-bottom: none;
    border-width: 1px;
    padding-left: 5px;
    padding-right: 5px;
    transition: font-size 0.44s;
}

.top-right-info:hover {
    cursor: pointer;
    color: #b8c1a8;
    text-decoration: underline;
    font-size: 20px;
    
    
}

.top-right-info:active{
    color: #5c7749;
}



