.project-background-wrapper {
    background-color: rgb(36, 36, 36);
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    
    padding-bottom: 100px;
}

.project-background-wrapper h2 {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    font-size: 1.5rem;
}

